@font-face {
  font-family: 'tt-norms';
  src: url('./neufile-grotesk-light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tt-norms';
  src: url('./DINNextW1G-Medium.otf') format('truetype');
  font-weight: bold;
  font-style: normal;
}